
<html ng-app="myApp">
<div>
        <main class="col-sm-9 ml-sm-auto col-md-8 pt-3">
                <h1></h1>
                               
                <h2>Build wise test metrics</h2>
                <br><br>
                <div class="table-responsive">
                    <div ng-controller="DashboardController">
                        <table border="4" class="table table-striped">
                            
                            <TH rowspan="2" style="text-align:center">Builds</TH>
                            <TH style="text-align:center" colspan="3">XTH and JTH</TH>
                            <TH style="text-align:center" colspan="3">Protractor NewUI</TH>
                            <TH style="text-align:center" colspan="3">Rest</TH>
                            <TH style="text-align:center" colspan="3">Selenium UI</TH>

                                <TR><TH>Total</TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH>Failed </TH>
                                <TH>% of Pass</TH>
                                <TH>Total</TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH> Failed </TH>
                                <TH>% of Pass</TH>
                                <TH>Total </TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH> Failed </TH>
                                <TH>% of Pass</TH>
                                <TH>Total </TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH>Failed </TH>
                                <TH>% of Pass</TH>
                            </TR>
                             <tr>
                                <tr ng-repeat="metric in builds1.data | orderBy : '-build_no'">
                                <div ><td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';"><a ng-click="getBuildDetails(metric.build_no)" class="build-no" >{{metric.build_no}}</a></td></div>
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.XTHJTH_total}}</td>
                                <!-- <td>{{metric.XTHJTH_passed}}</td> -->
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.XTHJTH_failed}}</td>
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.XTHJTH_passed / metric.XTHJTH_total * 100 | round}} %</td>
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.PROTRACTOR_total}}</td>
                                <!-- <td>{{metric.PROTRACTOR_passed}}</td> -->
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.PROTRACTOR_failed}}</td>
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.PROTRACTOR_passed / metric.PROTRACTOR_total * 100 | round}} % </td>
                                <td>{{metric.REST_total}}</td>
                                <!-- <td>{{metric.REST_passed}}</td> -->
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.REST_failed}}</td>
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.REST_passed / metric.REST_total * 100 | round }} %</td>
                                <td>{{metric.UI_total}}</td>
                                <!-- <td>{{metric.UI_passed}}</td> -->
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.UI_failed}}</td>
                                <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{metric.UI_passed / metric.UI_total * 100 | round}} %</td>
                            </tr> 
                        </table>
                    </div>
                </div>
        </main>
</div>
</html>