 <html ng-app="myApp">
     <div>
            <main role="main" class="col-sm-9 ml-sm-auto col-md-15 pt-3">
                    <h1></h1>
                    <h1>Dashboard</h1>
                    <h2>CRT Builds Execution</h2>
                    <div class="table-responsive">
                    <div ng-controller="BuildsController" ng-init="getByBuildNumber()">
                      <table border="4" class="table table-striped">
                          <thead>
                              <tr >
                                      <th class="CaTableColumnHeader">build_no</th>
                                      <th class="CaTableColumnHeader">Total Tests</th>
                                      <th class="CaTableColumnHeader">Passed</th>
                                      <th class="CaTableColumnHeader">Failed</th>
                                      <th class="CaTableColumnHeader">Skipped</th>
                                      <th class="CaTableColumnHeader">DB Type</th>
                                      <th class="CaTableColumnHeader">Execution Time</th>
                                      <th class="CaTableColumnHeader">Component</th>
                                      <th class="CaTableColumnHeader">Run Date</th>>
                                      <th class="CaTableColumnHeader">Failed Scripts</th>>
                              </tr>
                            </thead>
                              <tr>
                                    <tr ng-repeat="build in builds.data">
                                            <td>{{build.build_no}}</td>
                                            <td>{{build.total_tests_count}}</td>
                                            <td>{{build.total_tests_passed}}</td>
                                            <td>{{build.total_tests_failed}}</td>
                                            <td>{{build.total_tests_skipped}}</td>
                                            <td>{{build.database_type}}</td>
                                            <td>{{build.total_execution_time}}</td>
                                            <td>{{build.component_name}}</td>
                                            <td>{{build.run_date}}</td>
                                            <td>({{build.failed_tests}})</td>
                                    </tr>                                  
                        </table>
                    </div>
                    </div>
                  </main>

    </div>
    </html>