<html ng-app="myApp">

       
    <div>
           <main role="main" class="col-sm-9 ml-sm-auto col-md-15 pt-3">
               <br><br><br><br>
                   <h1>Sprint Wise Metrics</h1>
                   <br><div>
                   <h2>Current Sprint Metrics</h2>
                   <br>
                   <div class="table-responsive">
                   <div ng-controller="sprintsMetrics" ng-init="getLatestMetric()">
                     <table border="4" class="table table-striped">
                            <TH rowspan="2" style="text-align:center">Sprints</TH>
                            <TH rowspan="2" style="text-align:center">Builds</TH>
                            <TH style="text-align:center" colspan="3">XTH and JTH</TH>
                            <TH style="text-align:center" colspan="3">Protractor NewUI</TH>
                            <TH style="text-align:center" colspan="3">Rest</TH>
                            <TH style="text-align:center" colspan="3">Selenium UI</TH>
                            <TH rowspan="2" style="text-align:center" colspan="3">Comments / Remarks</TH>

                                <TR><TH>Total</TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH>Failed </TH>
                                <TH>% of Pass</TH>
                                <TH>Total</TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH> Failed </TH>
                                <TH>% of Pass</TH>
                                <TH>Total </TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH> Failed </TH>
                                <TH>% of Pass</TH>
                                <TH>Total </TH>
                                <!-- <TH> Total Tests passed </TH> -->
                                <TH>Failed </TH>
                                <TH>% of Pass</TH>
                            </TR>
                           <tr>
                            <tr ng-repeat="sprint in prd.data">
                            <td>Current Sprint </td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';"><a ng-click="getBuildDetails(sprint.build_no)" class="build-no">{{sprint.build_no}}</a></td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.XTHJTH_total}}</td>
                            <!-- <td>{{metric.XTHJTH_passed}}</td> -->
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.XTHJTH_failed}}</td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.XTHJTH_passed / sprint.XTHJTH_total * 100 | round}} %</td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.PROTRACTOR_total}}</td>
                            <!-- <td>{{metric.PROTRACTOR_passed}}</td> -->
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.PROTRACTOR_failed}}</td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.PROTRACTOR_passed / sprint.PROTRACTOR_total * 100 | round}} % </td>
                            <td  onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.REST_total}}</td>
                            <!-- <td>{{metric.REST_passed}}</td> -->
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.REST_failed}}</td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.REST_passed / sprint.REST_total * 100 | round }} %</td>
                            <td  onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.UI_total}}</td>
                            <!-- <td>{{metric.UI_passed}}</td> -->
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.UI_failed}}</td>
                            <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.UI_passed / sprint.UI_total * 100 | round}} %</td>
                            <td><textarea rows="3" cols="30" id="commentsForSprint" onfocus="myFunction(this.id)" onblur="myFunction1(this.id)">
                                    
                                    </textarea></td>
                        </tr>                                  
                       </table>
                   </div>
                   </div>
                <br><br>
                   <h2>Previous Sprint Metrics</h2>
                   <div class="table-responsive">
                        <div ng-controller="sprintsMetrics" ng-init="getLatestMetric()">
                          <table border="4" class="table table-striped">
                                 <TH rowspan="2" style="text-align:center">Sprints</TH>
                                 <TH rowspan="2" style="text-align:center">Builds</TH>
                                 <TH style="text-align:center" colspan="3">XTH and JTH</TH>
                                 <TH style="text-align:center" colspan="3">Protractor NewUI</TH>
                                 <TH style="text-align:center" colspan="3">Rest</TH>
                                 <TH style="text-align:center" colspan="3">Selenium UI</TH>
                                 <TH rowspan="2" style="text-align:center" colspan="3">Comments / Remarks</TH>
     
                                     <TR><TH>Total</TH>
                                     <!-- <TH> Total Tests passed </TH> -->
                                     <TH>Failed </TH>
                                     <TH>% of Pass</TH>
                                     <TH>Total</TH>
                                     <!-- <TH> Total Tests passed </TH> -->
                                     <TH> Failed </TH>
                                     <TH>% of Pass</TH>
                                     <TH>Total </TH>
                                     <!-- <TH> Total Tests passed </TH> -->
                                     <TH> Failed </TH>
                                     <TH>% of Pass</TH>
                                     <TH>Total </TH>
                                     <!-- <TH> Total Tests passed </TH> -->
                                     <TH>Failed </TH>
                                     <TH>% of Pass</TH>
                                 </TR>
                                <tr>
                                 <tr ng-repeat="sprint in prd.data">
                                 <td>Current Sprint </td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';"><a ng-click="getBuildDetails(sprint.build_no)" class="build-no">{{sprint.build_no}}</a></td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.XTHJTH_total}}</td>
                                 <!-- <td>{{metric.XTHJTH_passed}}</td> -->
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.XTHJTH_failed}}</td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.XTHJTH_passed / sprint.XTHJTH_total * 100 | round}} %</td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.PROTRACTOR_total}}</td>
                                 <!-- <td>{{metric.PROTRACTOR_passed}}</td> -->
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.PROTRACTOR_failed}}</td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.PROTRACTOR_passed / sprint.PROTRACTOR_total * 100 | round}} % </td>
                                 <td  onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.REST_total}}</td>
                                 <!-- <td>{{metric.REST_passed}}</td> -->
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.REST_failed}}</td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.REST_passed / sprint.REST_total * 100 | round }} %</td>
                                 <td  onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.UI_total}}</td>
                                 <!-- <td>{{metric.UI_passed}}</td> -->
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.UI_failed}}</td>
                                 <td onmouseout="this.bgColor='#f2f7f0'"  onmouseover="this.bgColor='#fcdbd2';">{{sprint.UI_passed / sprint.UI_total * 100 | round}} %</td>
                                 <td><textarea rows="3" cols="30" id="commentsForSprint" onfocus="myFunction(this.id)" onblur="myFunction1(this.id)">
                                         
                                         </textarea></td>
                             </tr>                                  
                            </table>
                        </div>
                        </div>
                 

   </div>
</div>
   </html>

   <script>
        function myFunction(x) {
            document.getElementById(x).style.background = '#fcdbd2';
        }
        function myFunction1(x) {
            document.getElementById(x).style.background = '#f2f7f0';
        }

</script>