<html ng-app="myApp">
<body>
<div>
    <main role="main" class="col-sm-12 ml-sm-auto col-md-20 pt-3">
        <br><br>
        <div class="table-responsive">
            <div ng-controller="sprintsMetricsExec" ng-init="getSprintMetric()">
                <h1>{{prd.data[0].release}}/{{prd.data[0].pi}}</h1>
                <table id="tableID" class="table" style="width:100%; position: absolute;">
                    <col style="width:8%">
                    <col style="width:8%">
                    <col style="width:16%">
                    <col style="width:16%">
                    <col style="width:16%">
                    <col style="width:16%">
                    <tr id="rows" ng-repeat="sprint in prd.data">
                        <td style="text-align:center"><div id="box" >
                                <div class="innerContent">
                                    {{sprint.sprint}}
                                </div>
                            </div>
                        </td>
                        <td style="text-align:center" ><div id="box">
                                <div class="innerContent">
                                    {{sprint.build_no}}
                                </div>
                            </div>
                        </td>
                        <td title="{{sprint.comments}}"><div id="box" ng-class="{'red': (sprint.buildDetails[0].XTHJTH_passed < 70), 'green': (sprint.buildDetails[0].XTHJTH_passed >90), 'yellow': (sprint.buildDetails[0].XTHJTH_passed >70 && sprint.buildDetails[0].XTHJTH_passed<90)}">
                                <div class="innerContent">
                                    XTHJTH : {{sprint.buildDetails[0].XTHJTH_passed}}%
                                    <br><br>
                                    <p>Total : {{sprint.buildDetails[0].XTHJTH_total}}&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Failed : {{sprint.buildDetails[0].XTHJTH_failed}}</p>
                                </div>
                            </div>
                        </td>
                        <td title="{{sprint.comments}}"><div id="box" ng-class="{'red': (sprint.buildDetails[0].PROTRACTOR_passed < 70), 'green': (sprint.buildDetails[0].PROTRACTOR_passed >90), 'yellow': (sprint.buildDetails[0].PROTRACTOR_passed >70 && sprint.buildDetails[0].PROTRACTOR_passed<90)}">
                                <div class="innerContent">
                                    New UI : {{sprint.buildDetails[0].PROTRACTOR_passed}}%
                                    <br><br>
                                    <p>Total : {{sprint.buildDetails[0].PROTRACTOR_total}}&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Failed : {{sprint.buildDetails[0].PROTRACTOR_failed}}</p>
                                </div>
                            </div>
                        </td>
                        <td title="{{sprint.comments}}"><div id="box" ng-class="{'red': (sprint.buildDetails[0].REST_passed < 70), 'green': (sprint.buildDetails[0].REST_passed >90), 'yellow': (sprint.buildDetails[0].REST_passed >70 && sprint.buildDetails[0].REST_passed<90)}">
                                <div class="innerContent">
                                    REST : {{sprint.buildDetails[0].REST_passed}}%
                                    <br><br>
                                    <p>Total : {{sprint.buildDetails[0].REST_total}}&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Failed : {{sprint.buildDetails[0].REST_failed}}</p>
                                </div>
                            </div>
                        </td>
                        <td title="{{sprint.comments}}"><div id="box" ng-class="{'red': (sprint.buildDetails[0].UI_passed < 70), 'green': (sprint.buildDetails[0].UI_passed >90), 'yellow': (sprint.buildDetails[0].UI_passed >70 && sprint.buildDetails[0].UI_passed<90)}">
                                <div class="innerContent">
                                    Classic UI : {{sprint.buildDetails[0].UI_passed}}%
                                    <br><br>
                                    <p>Total : {{sprint.buildDetails[0].UI_total}}&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Failed : {{sprint.buildDetails[0].UI_failed}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
</html>